body {
  background-color: white;
}

/* navigation */

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  color: green;
}

.spaced-items {
  display: flex;
  flex-direction: row;
  align-content: left;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Title */

.title {
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 2%;
}

/* Main section */

.main {
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.main__info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: 20px;
  margin-right: 100px;
}

.main__paragraph {
  border-left: 2px solid #062312;
}

.main__image-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 5vw);
}

.image_img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
}

.image_item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.image_item-2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
}

.image_item-3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

/* Extra link  */

.link-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.aside-info {
  width: 40%;
  padding-left: 2 rem;
  margin-left: 1 rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Height of the footer */
  background-color: #f5f5f5;
}

footer a {
  padding: 1em;
  text-decoration: none;
  color: gray;
  float: right;
  margin-right: 2%;
}

nav a:hover {
  background-color: #ddd;
}

/* logo */

.bouncy-img {
  width: 3%;
  height: 3%;
  float: left;
  margin-left: -135px;
}

.bouncy-img:hover {
  animation: bounce 1s;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
